/* start global rules */
:root {
  --main-color: #1d95f6;
  --sec-color: #ececec;
  --section-padding: 100px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* ::selection {
  selection properties
} */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.title {
  text-align: center;
  background: white;
  border: 2px solid var(--main-color);
  font-size: 25px;
  text-transform: capitalize;
  margin: 100px auto;
  padding: 10px 20px;
  width: fit-content;
  position: relative;
  transition: 1s;
}
.title::after,
.title::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 50%;
  transition: 1s;
  z-index: -1;
  transform: translate(-50%);
}
.title::after {
  right: -50%;
}
.title::before {
  left: -50%;
}
/* end global rules  */
/* start header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  font-size: 20px;
  padding-top: 15px;
  height: 50px;
  margin-bottom: 10px;
  text-transform: capitalize;
  z-index: 99;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.463);
}
header ul {
  display: flex;
  justify-content: space-between;
}
header ul .pages {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
header ul li {
  cursor: pointer;
}
header ul li.name {
  font-weight: bold;
  color: var(--main-color);
}
header ul li:not(li.name) {
  font-weight: 300;
}
/* end header */
/* start landing */
.landing {
  margin-top: 50px;
  /* background-color: #ececec; */
  height: 600px;
  text-transform: capitalize;
  line-height: 2;
  background-image: linear-gradient(170deg, var(--sec-color) 80%, white 80%);
  padding-bottom: var(--section-padding);
}
.landing .container {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.landing svg {
  position: absolute;
  z-index: -1;
  height: 770px;
}
.landing h1 {
  margin: 0;
}
.landing img {
  width: 50%;
}
.landing i {
  position: absolute;
  bottom: 5%;
  left: 50%;
  color: var(--main-color);
  font-size: 36px;
  transform: translate(-50%);
  cursor: pointer;
}
/* end landing */
/* start articles */
.articles {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
.articles .container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.articles .art {
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: #00000066 0px 0px 9px 0px;
  transition: 1s;
}
.articles .art:hover {
  transform: translateY(-10px) scale(1.05);
  z-index: 12;
}
.articles .art img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.articles .art h2 {
  font-size: 18px;
  padding: 10px;
  text-transform: capitalize;
}
.articles .art p {
  font-size: 15px;
  padding-left: 15px;
  padding-right: 10px;
  color: #777;
  line-height: 1.5;
  text-transform: capitalize;
}
.articles .art span {
  color: var(--main-color);
  border-top: 1px solid var(--main-color);
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin-top: 15px;
  position: relative;
  cursor: pointer;
}
.articles .art span p {
  font-weight: bold;
  color: var(--main-color);
  /* cursor: pointer; */
}
.articles .art span i {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  /* cursor: pointer; */
}
/* end articles */
/* start gallery */
.gallery {
  background-color: var(--sec-color);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 50px;
}
.gallery .container .box {
  background-color: white;
  width: 100%;
}
.gallery .container img {
  width: 95%;
  margin: 2.5%;
  filter: grayscale(1);
  transition: 1s;
}
.gallery .container .box:hover img {
  filter: grayscale(0);
  transform: rotate(5deg) scale(1.05);
}
/* end gallery */
/* start animation */
/* end animation */
